* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#nav-container {
  height: 100px;
  width: 100%;
  color: whitesmoke;
  background-color: #736d6d;
  padding: 10px 15px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  background-color: whitesmoke;
  padding: 10px;
  color: #141010;
  border-radius: 5px;
  border: 1px solid orange;
}
#nav-links {
  position: relative;
}

#nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  padding: 10px;
}

#nav-links ul > li {
  list-style: none;
  margin: 10px;
}
#nav-links ul > li > a {
  text-decoration: none;
  color: #f2f2f2;
  padding: 15px;
}
#nav-links ul > li > a:hover {
  background-color: #f2f2f2;
  color: #736d6d;
}
#home {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("images/cleanup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

#home span {
  color: #138817;
  text-shadow: 1px 1px#141010;
}
.home-display-footer {
  height: 80px;
  width: 100%;
  background-color: #736d6d;
}

#home-main h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem;
  padding: 34px 20px;
  line-height: 6rem;
  color: #141010;
  text-shadow: 1px 2px 2px #138817;
}

.bg-btn {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
  top: 260px;
  font-size: 2rem;
  color: #736d6d;
}

#about {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.65rem;
  padding: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.left p,
h3 {
  margin: 10px;
  line-height: 50px;
}

.left h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 40px;
}
.right img {
  height: 500px;
}

footer {
  height: 300px;
  background-color: #736d6d;
  color: #f2f2f2;
  margin-top: 10px;
  padding: 15px;
}

#ham-icon-container {
  color: #f2f2f2;
}

#ham-icon-container {
  display: none;
}
#ham-icon-container li {
  list-style: none;
}

#ham-icon-container li > a {
  text-decoration: none;
  color: #f2f2f2;
}

#menu-container {
  width: 35%;
  padding: 5px;
  margin-bottom: 10px;
  display: none;
  position: relative;
  right: 0;
  z-index: 100;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  animation: menuAnim 2s linear 1s;
}
#menu-container li {
  margin: 5px 0;
  width: 100%;
  list-style: none;
  padding: 10px;
  background-color: #736d6d;
}

#menu-container li:hover {
  background-color: #138817;
  cursor: pointer;
}
#menu-container ul > li > a {
  text-decoration: none;
  color: #f2f2f2;
}
#close-btn {
  position: absolute;
  color: red;
  right: 2px;
  font-size: 2rem;
}

#close-btn:hover {
  cursor: pointer;
}
@media (max-width: 850px) {
  #ham-icon-container {
    display: block;
    margin: 0;
  }
  #ham-icon-container i {
    font-size: 2rem;
    margin: 0px;
  }
  #nav-links {
    display: none;
  }
  #about {
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }
  .bg-btn {
    display: none;
  }
  #home-main h2 {
    margin: 0;
  }
}

@keyframes menuAnim {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#chatBtn {
  position: fixed;
  height: 70px;
  width: 70px;
  right: 10px;
  bottom: 30px;
  border-radius: 50%;
  border: 1px solid #138817;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #138817;
  z-index: 101;
  box-shadow: 1px 2px 2px black;
}
